@charset "utf-8";
/* CSS Document */


@import url(reset.css);

@import url(US_header.css);
@import url(US_main.css);
@import url(US_footer.css);

/*@import url(home_content.css);*/



	/*background-color: rgba(244,240,240,1);  #F4F0F0; ---背景底色*/
	/*background-color: rgba(239,174,162,1);  #EFAEA2; ---重點粉紅色*/

	
	

	/*margin: auto;
	left: 0;
	right: 0;
	top: 0;
	bottom: 0;*/

	/*-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;*/

*{
	font-family: sans-serif, 微軟正黑體;
}



/*____________________________________________________________________________*/

/*----------會員登入和註冊內容區域----------*/
	.con{
 		margin: auto;
 		left: 0;
 		right: 0;
 		top:0;
 		bottom:0;
 		width: 80%; /*因為還有before、after的陰影面積所以寬度只需要抓白紙的*/
 		font-size: 0; /*兩個div中間還有間距所以要下這個*/
 		min-height:590px;
 		height: auto;
 		position: relative;
 	}
	/*麵包屑*/
 	.loginnav{
 		width: 400px;
 		height: 50px;
 		font-size: 20px;
 		position: absolute;
 		top:35px;
 	}

 	.loginnav p{
 		font-family: 'Titillium Web', sans-serif, 微軟正黑體;
 		font-size: 23px;
 		color:#666666;
 	}

 	.loginnav img{
 		width: 80%;
 	}


	/*包左右兩個版*/
	.signin_joinus{
		position: relative;
		top: 85px; /*麵包屑的高度*/
		width: 100%;
	}

	/*左邊的登入欄位*/
 	.signin{
 		position: relative;
 		font-size: 16px;
 		width: 50%;
 		display: inline-block;
 		height: 400px; 
 	}

 	.signin a{
 		font-size: 14px;
 		color:#666666;
 		text-decoration: none;
 	}
	/*登入欄位的文字區塊*/
 	.mainbody1{
 		line-height: 30px;
 		width: 50%;
 		height: 300px; 
 		position: absolute;
 		/*置中*/
 		margin:auto;
 		top:0;
 		bottom:0;
 		left: 0;
 		right: 0;
 		text-align: center;
 	}

	/*確認會員登入的鈕*/
 	.loginmember{
 		position: absolute;
 		margin: auto;
 		left: 53%;
 		right: 0;
 		bottom: 0;

 		width: 40%;
 		height: 30px;
 		z-index: 2;
 	}

 	.loginmember a{
 		position: absolute;
 		left: 0;
 		top: 0;

 		font-size: 14px;
 		line-height: 30px;
 		width: 100%;
 		height: 100%;
 
 		text-decoration: none;
 		color:#666666;
 		background-color: #fff;
 		border:1px solid #666666;
 	}
 	.loginmember a:hover{
 		color: #fff;
 		background-color: #666666;
 	}

	/*會員登入的input*/

	.mainbody1 .form-group{
		margin: 5px 0; 
	}

 	.signin input{
 		width: 70%;
 		height: 20px;
 		border:1px solid #ccc;

 		/*background-image: url(../images/member/ans.svg);*/
		/*background-size: 100% 100%;*/
		/*background-repeat: no-repeat;*/

 		line-height: 18px;
 		font-size: 14px;
 	}

 	.signin label{
 		color:#666666;
 	}

 	div.memberforgerpassword{
 		width: 100%;
 		height: 50px;
 		text-align: right;
 	}

	/*右邊的加入會員欄位*/
 	.joinus{
 		position: relative;
 		margin: auto;
 		top: 0;
 		bottom: 0;

 		font-size: 16px;
 		width: 50%;
 		display: inline-block;
 		height: 400px; 
		vertical-align: top;  /*左右兩個div上下排列的狀況消失*/
 	}
	/*加入會員的輸入區塊*/
	.mainbody2 .form-group{
		margin: 5px 0; 
		position: relative;
	}
 	.mainbody2{
 		line-height: 30px;
 		width: 50%;
 		height: 300px; 
 		position: absolute;
 		/*置中*/
 		margin:auto;
 		top:0;
 		bottom:0;
 		left: 0;
 		right: 0;
 		text-align: center;
 	}

 	/*確定加入會員的鈕*/
 	.joinmenber{
 		position: absolute;
 		margin: auto;
 		left: 53%;
 		right: 0;
 		bottom: 0;

 		width: 40%;
 		height: 30px;
 		z-index: 2;
 	}

 	.joinmenber a{
 		position: absolute;
 		left: 0;
 		top: 0;

 		font-size: 14px;
 		line-height: 30px;
 		width: 100%;
 		height: 100%;
 
 		text-decoration: none;
 		color:#605f5f;
 		background-color: white;
 		border:1px solid #605f5f;
 	}

 	.joinmenber a:hover{
 		color:white;
 		background-color: #605f5f;
 	}

	/*加入會員的input*/
 	.joinus input{
 		width: 70%;
 		height: 20px;
 		border:1px solid #ccc;

 		/*background-image: url(../images/member/ans.svg);*/
		/*background-size: 100% 100%;*/
		/*background-repeat: no-repeat;*/

 		line-height: 18px;
 		font-size: 14px;
 	}

 	.joinus label{
 		color:#666666;
 	}

	/*必填的米字號，用form-group的before做比較不會跑版*/
 	.mainbody2 div.form-group.havetowrite:before{
		content: "*";
		position: absolute;
		bottom: 0;
		left: -10px;
		font-size: 20px;
		line-height: 20px;
		color:#faa;
 	}



/*----------忘記密碼頁面----------*/
	.forgetpassword_content{
		position: relative;
		width: 100%;
		height: 400px;
		top: 85px;
	}
	.words1{
		width: 50%;
		height: 100px;
		font-size: 14px;

		position: absolute;
		top:165px;
		text-align: left;
		
		margin: auto;
		left: 10%;
		right: 0;

		line-height: 20px;
		color:#666666;
	}

	/*---查詢密碼區域---*/
	.checkpw{
		width: 50%;
		height: 40px;
		position: absolute;
		top:325px;

		margin: auto;
		right: 0;
		left: 10%;
		font-size: 14px;
	}
	
	.words2{
		width: 300px;
		height: 40px;
		display: inline-block;
		color:#666666;
	}

	.words2 input{
		border:0px solid transparent ;
 		background-image: url(../images/member/ans.svg);
		background-size: 100%;
		line-height: 18px;
	}

	.btncheck{
		width: 70px;
		height: 20px;
		display: inline-block;


	} 

	.btncheck a{
		text-decoration: none;
		background-color: white;
		color:#666666;
		border:1px solid #666666;
		font-size:14px;
		padding: 3px 5px;	
	}

	.btncheck a:hover{
		background-color: #666666;
		color:white;
	}



/*發送忘記密碼通知*/
	.bigframe{
		width: 100%;
		height: 400px;

		background-image: url(../images/member/frame1.svg);
		background-position: center;
		background-size: 100% 100%;

		position: relative;
	 	top:100px;
	}

	.sign{
		position: absolute;
		margin: auto;
		top: 0;
		bottom: 0;

		width: 100%;
		height:150px;

		background-image: url(../images/member/signframe1.svg);
		background-repeat: no-repeat;
		background-position: center;
		background-size: contain;
	}

	.btn-ok{
		width:75px;
		height: 25px;

		border: 1px solid #666666;
		border-radius: 6px;
		background-color: #fff;

		position: absolute;
		right: 25%;
		bottom: 50px;
	}

	.btn-ok:hover{
		background-color: #666666;
	}

	.btn-ok a{
		text-decoration: none;
		color:#666666;
		font-size: 14px;
		line-height: 25px;
		text-align: center;
		
		position: absolute;
		top:0;
		left: 0;
		width: 100%;
		height: 100%;

		background-color: #fff;
		border-radius: 6px;
	}

	.btn-ok:hover a{
		color:white;
		background-color: #666666;
	}

	.btn-ok img{
		position: absolute;
		bottom:4px;
		left: 22px;
	}
	
	/*必填資訊尚未填寫完畢請重新確認的提示*/
	.sign2{
		position: absolute;
		margin: auto;
		top: 0;
		bottom: 0;

		width: 100%;
		height:150px;

		background-image: url(../images/member/signframe2.svg);
		background-repeat: no-repeat;
		background-position: center;
		background-size: contain;
	}

	/*email已被使用請換一個的提示*/
	.sign3{
		position: absolute;
		margin: auto;
		top: 0;
		bottom: 0;

		width: 100%;
		height:150px;

		background-image: url(../images/member/signframe3.svg);
		background-repeat: no-repeat;
		background-position: center;
		background-size: contain;
	}

	/*完成註冊提示*/
	.sign4{
		position: absolute;
		margin: auto;
		top: 0;
		bottom: 0;

		width: 100%;
		height:150px;

		background-image: url(../images/member/signframe4.svg);
		background-repeat: no-repeat;
		background-position: center;
		background-size: contain;
	}

	.sign5{
		position: relative;
		width: 100%;
		height:350px;

		background-image: url(../images/member/signframe5-1-01.png);
		background-repeat: no-repeat;
		background-position: center;
		background-size: contain;
		
	 	top:125px;
	}



/*下面的導向按鈕*/

	.btn-groups{
		width: 100%;
    	height: 75px;
    	text-align: right;

    	position: absolute;
    	bottom:0;
    	right: -25px;
	}

	/*三顆導向鈕一起設定*/
	.btn-keepgoing, .btn-back, .btn-logout{
		position: relative;

		display: inline-block;
		width:120px;
		height:30px;

		border: 1px solid #666666;
		border-radius: 6px; /*直接設定px才會是正圓角*/
		background-color: #fff;
		color: #666;

		margin: 0 12px;
	}

	.btn-keepgoing:hover, .btn-back:hover, .btn-logout:hover{
		background-color: #666666;
	}

	.btn-keepgoing a, .btn-back a, .btn-logout a{
		position: absolute;
    	top: 0;
    	left: 0;

		text-decoration: none;
    	color: #666666;
    	text-align: center;

    	z-index: 2;
    	width: 100%;
    	height: 100%;
    	/*a的感應區要開跟鈕一樣大*/

    	font-size: 16px;
    	line-height: 30px; /*行高開跟鈕一樣高就會垂直置中*/
	}

	.btn-keepgoing:hover a, .btn-back:hover a, .btn-logout:hover a{
		color: #fff;
	}





/*----------會員專區----------*/

/*上方的sidebar*/

	.upframe{
		width: 50%;
		height: 20vh;
		position: absolute;
		left:55%;
		top:15px;
	}

	.up1, .up2, .up3{
		position: relative;
		display: inline-block;
		width:26%;
		height:30px;

		border: 1px solid #666666;
		border-radius: 6px; /*小童說要寫px不能出現長寬不同弧度*/
		background-color: #fff;
		margin:3%;
	}

	.up1:hover, .up2:hover, .up3:hover{
		background-color: #666666;
	}
	.up1.here, .up2.here, .up3.here{
		background-color: #666666;
	}

	.up1 a, .up2 a, .up3 a{
		text-decoration: none;
		display: inline-block;
		width: 100%;
		height: 100%;

		color:#666;
		font-size: 16px;
		line-height: 30px; /*行高和按鈕的高度一樣確保字垂直置中*/
		text-align: center;	
		z-index: 0;
	}
	.up1:hover a, .up2:hover a, .up3:hover a{
		color: #fff;
	}
	.up1.here a, .up2.here a, .up3.here a{
		color: #fff;
	}

	.up1 img, .up2 img, .up3 img{
		position:absolute;
		bottom:20%;
		right: 0%;
		z-index: 1;
	}



	/*下方的內容*/
	.downframe{
		width: 100%;
		height: 30vh;
		position: relative;
		top:130px;
		left:2%;
	}

	.downframe p{
		font-size: 16px;
		color:#666666;
	}

	.downframe img{
		width: 100%;
	}


	.ecourpon{
		position: relative;
		top:8%;
	}

	.ecourpon p{
		font-size:30px;
	}

	.howtoget{
		position: relative;
		width: 100%;
		text-align: right; 
		/*開100%靠右，避免直接調left爆版*/
	}

	.howtoget a{
		color:#666666;
		font-size: 14px;
	}

	/*回收制度頁面*/
	.recycletext{
		width: 100%;
		height: 300px;
		font-size: 20px;
		color:#666666;
		position: relative;
		top:120px;
	}

	.recycletext p{
		line-height: 30px;
	}
	
	.recycleimg .earth{
		position: relative;
		top:0%;
		left:0%;
	}

	img.squirrel {
		position: relative;
		top:-10%;
	}

	/*訂單查詢頁面*/

	.downframe2{
		width: 100%;
    	height: 30vh;
    	position: absolute;
    	top: 130px;
    	left: 2%;
	}

	.downframe2 p{
		font-size: 16px;
		color: #666666;
	}

	

	.sidebar3 img{
		position:relative;
		bottom:100%;
		left: 80%;
		/*z-index: -0.5;*/
	}

	.table{
		width: 97%;
		height: 30%;
		position: relative;
		top:190px;
		left:3%;
	}

	.table table,th,td{ 
		border-collapse:collapse;
		border: 1px solid #666666;
		font-size:16px;
		color:#666666;
		line-height: 30px;
	}

	.table td a{
		color:#666666;
		font-size: 16px;
	}
	.table th{
		height:50px;
		background-color: #666666;
	}

	.table tr { 
  		border-bottom:1px solid #000; 
	}

	.table td{
		text-align:center;
	}

	.table th {
		color:#fff;
	}

	/*詳細訂單內容*/
	.member-content{
		width: 80%;
		height: 400px;
		position: relative;
		top:180px;
		left:2%;
	}

	.member-content-hd{
		color:#666666;
	}

	.table-order th{
		font-size: 12px;
	}

	.table-order td{
		font-size: 12px;
	}

	/*修改帳號資料頁面*/
	.con2{
 		margin: auto;
 		left: 0;
 		right: 0;
 		top:0;
 		bottom:0;
 		width: 80%; /*因為還有before、after的陰影面積所以寬度只需要抓白紙的*/
 		font-size: 0; /*兩個div中間還有間距所以要下這個*/
 		min-height:590px;
 		height: auto;
 		position: relative;
 	}

	.editinfoarea{
		line-height: 30px;
 		width: 50%;
 		height: 300px; 
 		position: relative;
 		/*置中*/
 		margin:auto;
 		top:0;
 		bottom:0;
 		left: -25%;
 		right: 0;
 		/*text-align: center;*/
	}
	.editinfoarea input{
		font-size: 14px;
		color:#666666;
		margin-left:2%;
	}

	.editinfoarea label{
		font-size: 14px;
		color: #666666;
	}

	.tab-editok{
		width: 17%;
		height: 10%;
		border:1px solid #666666	;
		background-color: #fff;
	}

	.tab-editok:hover{
		background-color: #666666;
	}

	.tab-editok a{
		text-decoration: none;
		color:#666666;
		padding-left: 10%;
		font-size: 14px;
	}

	.tab-editok a:hover{
		color:#fff;

	}

	.downframe1{
		width: 100%;
    	height: 30vh;
    	position: absolute;
    	top: 130px;
    	left: 2%;	
	}

	.downframe1 p{
		font-size: 16px;
		color:#666666;
	}

	.downframe1 img{
		width: 100%;
	}

	.downframe3{
		width: 100%;
    	height: 30vh;
    	position: absolute;
    	top: 400px;
    	left: 2%;

	}

	.downframe3 p{
		font-size: 16px;
		color:#666666;
	}

	.downframe3 img{
		width: 100%;
	}

	.editpwarea{
		line-height: 30px;
 		width: 50%;
 		height: 300px; 
 		position: relative;
 		/*置中*/
 		margin:auto;
 		top:0;
 		bottom:0;
 		left: -25%;
 		right: 0;
 		/*text-align: center;*/
	}

	.editpwarea input{
		font-size: 14px;
		color:#666666;
		margin-left:2%;
	}

	.editpwarea label{
		font-size: 14px;
		color: #666666;
	}

	.tab-pweditok{
		width: 17%;
		height: 10%;
		border:1px solid #666666	;
		background-color: #fff;
	}



	.tab-pweditok:hover{
		background-color: #666666;
	}

	.tab-pweditok a{
		text-decoration: none;
		color:#666666;
		padding-left: 10%;
		font-size: 14px;
	}

	.tab-pweditok a:hover{
		color:#fff;

	}

	/*帳號修改完的提示*/
	.sign6{
		position: absolute;
		margin: auto;
		top: 0;
		bottom: 0;

		width: 100%;
		height:150px;

		background-image: url(../images/member/signframe6.svg);
		background-repeat: no-repeat;
		background-position: center;
		background-size: contain;
	}
	
	/*修改密碼後的提示*/
	.sign7{
		position: absolute;
		margin: auto;
		top: 0;
		bottom: 0;

		width: 100%;
		height:150px;

		background-image: url(../images/member/signframe7.svg);
		background-repeat: no-repeat;
		background-position: center;
		background-size: contain;
	}
	



	











	


/*____________________________________________________________________________*/

/*==========平板版本==========*/

@media screen and (max-width: 1080px) {/*IPAD尺寸*/
/*麵包屑*/
	.loginnav img {
		width: 60%;
	}


/*----------登入頁面----------*/
	.signin{
 		position: relative;
 		font-size: 16px;
 		width: 100%;
 	}

 /*登入會員的鈕*/
 	.loginmember{
 		width:50%;
 		left: 0;
 		right: 0;
 	}


 /*加入會員頁面*/
 	.joinus{
 		position: relative;
 		font-size: 16px;
 		width: 100%;
    	height: 500px;
 	}

 /*加入會員的輸入區域*/
 	.mainbody2{

 		line-height: 30px;
 		position: relative;
 		top:50px;
 		text-align: center;
 	}
	
	/*分區塊*/
 	.mainbody1:after{
 		content: "";
 		position: absolute;
 		width: 150%;
 		height: 2px;
 		bottom: -50px;
 		left: -25%;
 		background-color: #ccc;
 	}

 /*加入會員的鈕*/
	.joinmenber{
 		width:50%;
 		right: 0;
 		left: 0;
 	}



/*----------忘記密碼頁面----------*/

	.words1{
		width: 70%;
		left: 10%;
	}

	/*---查詢密碼區域---*/
	.checkpw{
		width: 70%;
		left: 10%;
	}



/*忘記密碼頁面的確認鈕*/
	.btn-ok{
		margin: auto;
		left: 50%;
		right: 0;
	}



/*確認登入完畢*/

	/*下面的導向按鈕*/
	.btn-groups{ /*改成置中*/
    	text-align: center;
    	right: 0px;
	}



/*----------會員專區-購物金查詢----------*/
	.downframe{
		width: 100%;
    	height: 16vh;
    	top: 180px;
    	left: 3%;
	}

	.downframe p{
		font-size: 15px;
	}

	.ecourpon p {
		position: relative;
		top:10px;
    	font-size: 20px;
    	height: 22px;
	}

/*進去會員中心時變成手機版時的三個按鈕配置*/
/*----------會員專區----------*/

/*上方的sidebar*/

	.upframe{
		width: 100%;
		margin: auto;
		right: 0;
		left: 0;
		top:75px;

		text-align: center; /*三顆按鈕置中*/
	}

	.up1, .up2, .up3{
		width:18%;
		height:28px;
	}

	.up1 a, .up2 a, .up3 a{
		font-size: 14px;
		line-height: 28px; /*行高和按鈕的高度一樣確保字垂直置中*/
	}

	.up1 img, .up2 img, .up3 img{
		bottom:15%;
	}



	

/*回收制度*/

	.recycletext p{
		font-size:16px;
	}

	.recycleimg img {
		width: 100%;
    	position: relative;
    	top: 65px;
    }

	.recycletext{
		height: 85%;
	}

/*訂單查詢頁面*/

	.table{
		position: relative;
    	top: 60px;
    	left: 12%;
    	width:75%;
	}

	.table th{
		font-size: 10px;
	}

	.table tbody tr td{
		font-size: 10px;
	}

	.downframe2{
		width: 60%;
    	height: 16vh;
   		position: relative;
    	top: 110px;
    	left: 3%;
	}

	.downframe2 img {
    	width: 160%;
	}


	.up3 img {
		bottom: 50%;
    	left: 65%;
	}

	/*訂單詳細頁面查詢*/
	.member-content {
		width: 80%;
    	height: 500px;
    	position: relative;
    	top: 55px;
    	left: 2%;
    }

    /*修改帳號密碼*/

    .con{
 		margin: auto;
 		left: 0;
 		right: 0;
 		top:0;
 		bottom:0;
 		width: 80%; /*因為還有before、after的陰影面積所以寬度只需要抓白紙的*/
 		font-size: 0; /*兩個div中間還有間距所以要下這個*/
 		min-height:590px;
 		height: auto;
 		position: relative;
 	}

    .downframe1{
    	top:150px;
    }

	.tab-editok {
    	width: 24%;
    }

    .tab-pweditok {
    	width: 24%;
    }

    .downframe3{
    	top:410px;
    }
	
	.editinfoarea input {
		border:1px solid #666666 ;
	}

	.editpwarea input{
		border:1px solid #666666 ;
	}




	
}





/*____________________________________________________________________________*/

/*==========手機版本==========*/

@media screen and (max-width: 760px) {

	.con{
		min-height: 490px;
	}

/*會員登入和註冊*/
	/*麵包屑*/
	.loginnav{
		width:119%;
	}

	.loginnav p {
    	font-size: 18px;
	}

	.signin {
		font-size: 14px;
		height: 400px;
	}

	.joinus{
    	font-size: 14px;
	}

	/*登入欄位的文字區塊*/
 	.mainbody1, .mainbody2{
 		line-height: 30px;
 		width: 100%;
 		height: 300px; 
 	}

 	/*分區塊*/
 	.mainbody1:after{
 		width: 100%;
 		left: 0;
 	}

 	div.memberforgerpassword{
 		width: 95%;
 	}



/*忘記密碼頁面*/

	.forgetpassword_content{
		height: 300px;
	}
	.words1{
		width: 60%;
		font-size: 12px;
		left: 0;
		top: 100px;
	}

	/*---查詢密碼區域---*/
	.checkpw{
		width: 60%;
		height: 100px;

		left: 0;
		top: 250px;
	}
	.words2{
		width: 80%;
		height: 50px;
		line-height: 20px;
	}

	.checkpw .btncheck{
		position: absolute;
		bottom: 0;
		
		right: 0;
	}





/*登入完畢*/
    .sign5{
		width: 100%;
		height:250px;
	}

	.btn-groups{
		height: 45px;
	}

	/*下面的導向按鈕*/
	/*三顆導向鈕一起設定*/
	.btn-keepgoing, .btn-back, .btn-logout{
		width:30%;
		margin: 0 1%;
	}
	
	.btn-keepgoing a, .btn-back a, .btn-logout a{
		font-size: 12px;
	}




/*會員專區購物金查詢*/
/*----------會員專區----------*/

/*上方的sidebar*/

	.upframe{
		top:95px;
	}

	.up1, .up2, .up3{
		width:28%;
		height:25px;

		margin:2%; 
	}

	.up1 a, .up2 a, .up3 a{
		font-size: 14px;
		line-height: 25px; /*行高和按鈕的高度一樣確保字垂直置中*/
	}

	.up1 img, .up2 img, .up3 img{
		bottom:10%;
	}

    .downframe {
    	width: 90%;
    	top: 165px;
    }

    .downframe img {
   		width: 100%;
	}	

	.ecourpon p {
    	height: 70px;
    	top:15px;
	}






	/*回收制度頁面*/
	.recycleimg img {
    	width: 100%;
    	position: relative;
    	top: 90px;
    }

    .recycletext {
    	top:90px;
    }

    /*訂單查詢頁面*/
    .up3 img{
    	left: 85%;
    }

    /*修改帳號密碼*/
    .downframe3{
    	top:560px;
    	height: 28vh;
    	display: block;
    }

    .tab-editok {
   		width: 50%;
	}
	
	.downframe1 {
    	height: 60vh;
    	display: block;
    }

    .con2{
		height: 777px;
    }

    .tab-pweditok {
    	width: 50%;
	}





/*提示字串*/
	.bigframe{
		width: 100%;
		height: 400px;
	 	top:70px;
	}

	.bigframe div.sign2, .bigframe div.sign3, .bigframe div.sign4, .bigframe div.sign6, .bigframe div.sign7{
		margin: auto;
		left: 0;
		right: 0;

		width: 80%;
		top: -30px;
	}

	.bigframe .btn-ok{
		margin: auto;
		top: 0;
		bottom:-125px;
	}









}


