@charset "utf-8";
/* CSS Document */


@import url(reset.css);

@import url(US_header.css);
@import url(US_main.css);
@import url(US_footer.css);

/*@import url(home_content.css);*/



	/*background-color: rgba(244,240,240,1);  #F4F0F0; ---背景底色*/
	/*background-color: rgba(239,174,162,1);  #EFAEA2; ---重點粉紅色*/

	
	

	/*margin: auto;
	left: 0;
	right: 0;
	top: 0;
	bottom: 0;*/

	/*-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;*/

*{
	font-family: sans-serif, 微軟正黑體;
}



/*____________________________________________________________________________*/
	/*內容區域*/
	.con{
 		margin: auto;
 		left: 0;
 		right: 0;
 		
 		width: 85%; /*因為還有before、after的陰影面積所以寬度只需要抓白紙的*/
 		font-size: 0; /*兩個div中間還有間距所以要下這個*/
 		min-height:590px;
 		position: relative;

 		padding: 0 0 100px 0 ; 
 		-webkit-box-sizing: border-box;
		-moz-box-sizing: border-box;
		box-sizing: border-box;
 	}

	/*進度navbar*/
	div.cart_navbar{
		display: inline-block;
		position: relative;
		width: 100%;
		height: 120px;
		/*background-color: #aff;*/
	}

    .cart_navbar ul{
		position: relative;
		display: block;
		width: 100%;
		height: 100%;
		font-size: 0;
	}

	.cart_navbar ul li.cart_light{
		position: relative;
		display: inline-block;
		width: 25%;
		height: 100%;
	}

	/*圖示及文字的共同設定*/
	.cart_navbar ul li div{
		position: relative;
		display: inline-block;
		width: 30%;
	}

	/*小樹圖示區塊*/
	.cart_navbar ul li .light_image{
		position: relative;
		height: 60%;
	/*svg要設定原始整張圖的大小，因為洞用百分比，所以它也要用百分比*/
		background-image:url(../images/shoppingcart/light_img.svg);
		background-size: 100% 200%;
	/*y軸設100%就會換綠色*/
		background-position:0% 0%;
		top: 15%;	/*上面留空間，做假置中*/
		left: 0;
	}
		/*小樹圖示已完成區塊變色*/
		.cart_navbar ul li.on .light_image{
		/*svg要設定原始整張圖的大小，因為洞用百分比，所以它也要用百分比*/
			background-image:url(../images/shoppingcart/light_img.svg);
			background-size: 100% 200%;
		/*y軸設100%就會換綠色*/
			background-position:0% 100%;
		}


	/*文字區塊*/
	.cart_navbar ul li .light_text{
		width: 70%;
		height: 100%;
		text-align: center;
		vertical-align: top; 

	}

	.cart_navbar ul li .light_text p{
		color: #91BAB1;
		font-size: 16px;
		/*letter-spacing: 5px;*/
		line-height: 30px;		/*垂直置中，設與高度相同*/
		display: inline-block;
		position: relative;
		top: 30%;
	}
		/*第一項有兩行*/
		.cart_navbar ul li .light_text p.doubleline{
			line-height: 20px;
			top: 30%;
		}

	/*進度線-全長*/
	.cart_navbar ul:after , .cart_navbar li:after{
		content: '';
		height: 5px;
		width: 100%;
		display: block;
		position: absolute;
		top: 90px;
		background-color: #eee;
		transition: 2s ease-out;
	}

	/*進度線-目前位置*/
	/*加class:on來顯示粉色線*/
	.cart_navbar li.on:after{
		background-color: #FFBAB1;
		z-index: 1;
	}

 	.list{
 		width: 100%;
 		height: 150px;
 		position: relative;
 		top:0%;
		font-size: 0;
 	}
 	.list:after{
 		content: "";
 		position: absolute;
 		width: 100%;
 		height: 2px;

 		background-color: #ccc;
 		margin: auto;
 		left: 0;
 		right: 0;
 		bottom: 0;
 	}

	.list div{
		font-size: 14px;
		display: inline-block;
		color: #666666;
		vertical-align: top;
	}
	

	/*清單選項*/
	/*1左邊這塊寬度開50%，開inlineblock排列*/
	.oneproduct_top{
		width: 50%;
		height: 100%;
		display: inline-block;
		font-size: 0;
	}

	/*2右邊這塊寬度開50%，開inlineblock排列*/
	.oneproduct_03{
		width: 50%;
		height: 100%;
		display: inline-block;
	}
	
	.oneproduct_01{
		position: relative;
		width: 20%;
		height: 100%;
		display: inline-block;
	}
	.oneproduct_02{
		position: relative;
		width: 79%;
		height: 100%;
		display: inline-block;
		text-align: center;
	}


	
	.p1{
		/*置中*/
		position: absolute;
		top: 0;
		bottom: 0;
		left: 0;
		right: 0;
		/*給寬高*/
		width: 100%;
		height: 100%;
		/*開padding使四周有空白，但要加上這串以防爆開*/
		padding: 8px;
		-webkit-box-sizing: border-box;
		-moz-box-sizing: border-box;
		box-sizing: border-box;
	}

	.p1 img{
		width: 100%;
		height: 100%;
		top: 0;
		left: 0;
		
		object-fit: contain;
		object-position: center;
	}

	/*商品名稱四個字*/
	.oneproduct_02 div.p2{
		position:relative;
		text-align: center;
		display: inline-block;
		width: 33%;
		height: 100%;

		padding: 30px 0 0 0;
		-webkit-box-sizing: border-box;
		-moz-box-sizing: border-box;
		box-sizing: border-box;
	}

	.oneproduct_02 .p2 span{
		font-size: 14px;
		color: #666666;
	}

	/*貓頭鷹*/
	.oneproduct_02 div.p2 div{
		position: absolute;
		top: 35px;
		bottom: 0;
		width: 85%;

		margin: auto;
		left: 0;
		right: 0;
		height: 30px;
	}


	/*規格*/
	.oneproduct_02 div.p6{
		position:relative;
		text-align: center;
		display: inline-block;
		width:30%;
		height: 100%;

		padding: 30px 0 0 0;
		-webkit-box-sizing: border-box;
		-moz-box-sizing: border-box;
		box-sizing: border-box;
	}

	/*iphone*/
	.oneproduct_02 div.p6 div{
		position: absolute;
		top: 25px;
		bottom: 0;
		width: 50%;

		margin: auto;
		left: 0;
		right: 0;
		height: 20px;
	}

	/*材質的外層*/
	.oneproduct_02 div.wood{
		position:relative;
		text-align: center;
		display: inline-block;
		width:30%;

		height: 100%;

		padding: 30px 0 0 0;
		-webkit-box-sizing: border-box;
		-moz-box-sizing: border-box;
		box-sizing: border-box;
	}

	/*材質*/
	.oneproduct_02 div.p7{
		position:relative;
		text-align: center;
		width:100%;
		height: 30px;

		padding: 0;
	}
	
	.oneproduct_02 div.wood div.sel{
		width: 100%;
		height: 100%;
	}

	/*材質的下拉式選單*/
	.oneproduct_02 div.wood select.sel{
		position: relative;
		top: 29px;
		bottom: 0;
		width: 70px;
		height: 25px;

		margin: auto;
		left: 0;
		right: 0;
		border:1px solid #ccc;
		color: #333;

		background-color: #fff;

		font-size: 14px;
	}



	/*數量的外層*/
	.oneproduct_03 div.qty{
		position:relative;
		text-align: center;
		display: inline-block;
		width:25%;

		height: 100%;

		padding: 30px 0 0 0;
		-webkit-box-sizing: border-box;
		-moz-box-sizing: border-box;
		box-sizing: border-box;
	}

	/*數量*/
	.oneproduct_03 div.p3{
		width:100%;
		height: 30px;
	}
	
	.oneproduct_03 div.qty div.sel1{
		width: 100%;
		height: 100%;
	}

	/*數量的下拉式選單*/
	.oneproduct_03 div.qty select.sel1{
		position: relative;
		top: 13px;
		bottom: 0;
		width: 40px;
		height: 25px;

		margin: auto;
		left: 0;
		right: 0;
		border:1px solid #ccc;
		color: #333;

		background-color: #fff;

		font-size: 14px;
	}


	/*單價*/
	.oneproduct_03 div.p4{
		position:relative;
		text-align: center;
		display: inline-block;
		width:25%;
		height: 100%;

		padding: 30px 0 0 0;
		-webkit-box-sizing: border-box;
		-moz-box-sizing: border-box;
		box-sizing: border-box;

	}

	/*100*/
	.oneproduct_03 div.p4 div{
		position: absolute;
		top: 25px;
		bottom: 0;
		width: 50%;

		margin: auto;
		left: 0;
		right: 0;
		height: 20px;
	}


	/*折扣*/
	.oneproduct_03 div.p5{
		position:relative;
		text-align: center;
		display: inline-block;
		width:25%;
		height: 100%;

		padding: 30px 0 0 0;
		-webkit-box-sizing: border-box;
		-moz-box-sizing: border-box;
		box-sizing: border-box;

	}

	/*200*/
	.oneproduct_03 div.p5 div{
		position: absolute;
		top: 25px;
		bottom: 0;
		width: 50%;

		margin: auto;
		left: 0;
		right: 0;
		height: 20px;
	}

	/*小計金額*/
	.oneproduct_03 div.p8{
		position:relative;
		text-align: center;
		display: inline-block;
		width:22%;
		height: 100%;

		padding: 30px 0 0 0;
		-webkit-box-sizing: border-box;
		-moz-box-sizing: border-box;
		box-sizing: border-box;
	}

	/*1200*/
	.oneproduct_03 div.p8 div{
		position: absolute;
		top: 25px;
		bottom: 0;
		width: 50%;

		margin: auto;
		left: 0;
		right: 0;
		height: 20px;
	}

	
	/*備註部分*/
	.warning3{
		width: 100%;
		height: 50px;
		position: relative;
		top:50px;
		display: inline-block;
	}

	.warning3 p{
		position: absolute;
		bottom: 0;
		font-size: 14px;
		color:#666666;
	}


	/*金額總計*/
	.totalmoney{
		width: 20%;
		height: 3%;
		position: relative;
		left:75%;
		/*display: inline-block;
		line-height: 60px;*/
		font-size: 20px;
		color:red;
	}

	/*配送方式*/
	.howtodel{
		width: 30%;
		/*background-color: #fa0;*/
		margin-left: 75%;
		line-height: 16px;

	}

	.howtodel div{
		color:#666666;
		font-size: 20px;
	}

	select.sel2{
		border: 1px solid #eee;
		font-size: 14px;
		height:25px;
	}

	select.sel3{
		border: 1px solid #eee;
		font-size: 14px;
		height:25px;
	}

	

	
	/*按鈕區塊*/
	.btn-grs{
		width: 100%;
    	height: 100%;
    	position: absolute;
    	top: 0;
    	right: 0;
	}


	/*繼續購物鈕*/
/*	.btn-keepgoingshop1{
		width: 22%;
	    height: 10%;
	    background-color: #fff;
	    border: 1px solid #666666;
	    color: #666666;
	    line-height: 30px;
	    display: inline-block;
	}

	.btn-keepgoingshop1:hover{
		background-color: #666666;
	}

	.btn-keepgoingshop1 a{
		width: 15%;
		height: 10%;
		text-decoration: none;
		font-size: 15px;
		color:#666666;
		padding: 0 15% 0 20%;

	}

	.btn-keepgoingshop1 a:hover{
		text-decoration: none;
		color:#fff;
	}*/



	.btn-keepgoingshop, .btn-nextstep{
		position: absolute;
		right: 0;
		bottom: 0;

		width:15%;
		height: 30px;
		
		background-color: #fff;
		border:1px solid #666666;
	}
		.btn-nextstep{
			right: 17%;
		}
	
	.btn-keepgoingshop:hover, .btn-nextstep:hover{
		background-color: #666666;
	}

	.btn-keepgoingshop a, .btn-nextstep a{ /*要撐滿div感應區才會一樣大*/
		position: absolute;
		left: 0;
		top: 0;	
		width:100%;
		height: 100%;

		font-size: 16px;
		text-decoration: none;
		color:#666666;

		line-height: 30px; /*垂直置中*/
		text-align: center; /*水平置中*/
	}

	.btn-keepgoingshop:hover a, .btn-nextstep:hover a{
		color:#FFF;
	}



	/*填寫超商取貨資訊頁面*/
	.totalmoney2{
		width: 35%;
		height: 20%;
		position: relative;
		top:0%;
		left:65%;
		top:0%;
	}

	.totalmoney2 p{
		font-size: 14px;
		color:#666666;
		line-height: 25px;
	}

	.filldata1{
		width: 100%;
		height: 560px;
		/*background-color: #fa0;*/
	}

	.box-fill1{
		width: 14%;
		height: 7%;
		background-color: #666666;
		/*border:1px solid #666666;*/
	}

	.box-fill1 p{
		font-size: 16px;
		color: #fff;
		padding: 10px 10px 0 15px;
	}

	.p11{
		position: relative;
		top:3%;
	}
	.p11 p{
		font-size: 12px;
		color:#666666;
	}

	.choosestore{
		width: 30%;
		height: 4%;
		background-color: black;
		position: relative;
		top:7%;

	}

	.choosestore a{
		text-decoration: none;
		color:#fff;
		font-size: 16px;
		padding:5px 10px;
	}

	.textarea1{
		width: 100%;
		height: 300px; 
		position: relative;
		top:15% ;

		/*margin-left: 10%;*/
	}

	.textarea1 input{
		font-size: 16px;
		color:#666666;
		margin-left: 2%;
	}
	
	.textarea1 label{
		font-size: 16px;
		color:#666666;
	}

	.edit-group1{
		line-height: 30px;
	}

	.rechoose{
		width: 22%;
		height: 8%;
		background-color: black;
		position: relative;
		top:4%;
		left:8%;
	}

	.rechoose a{
		color:#fff;
		text-decoration: none;
		font-size :16px;
		padding:0 4px;
	}

	/*.btn-confirmcheckout{
		width: 10%;
		height: 10%;
		background-color: #fff;
		border:1px solid #666666;
		position: relative;
		top:10%;
		left:70%;
		padding: 10px 4px 0 28px;
	}

	.btn-confirmcheckout:hover{
		background-color: #666666;
	}

	.btn-confirmcheckout a{
		width: 10%;
		height: 10%;
		font-size:16px;
		color:#666666;
		text-decoration: none;
	}

	.btn-confirmcheckout a:hover{
		color:#fff;
	}*/
	
	/*宅配頁面*/
	.filldata2{
		width: 100%;
		height: 400px;
		/*background-color: #fa0;*/
	}

	.textarea2{
		width: 100%;
		height: 300px; 
		position: relative;
		top:15% ;
		/*margin-left: 10%;*/
	}

	.textarea2 input{
		font-size: 16px;
		color:#666666;
		margin-left: 2%;
	}
	
	.textarea2 label{
		font-size: 16px;
		color:#666666;
	}

	/*光箱提示*/
	.img-replace {
  	/* replace text with an image */
  		display: inline-block;
  		overflow: hidden;
  		text-indent: 100%;
  		color: transparent;
  		white-space: nowrap;
	}

	.cd-popup-trigger {
  		display: block;
  		width: 170px;
  		height: 50px;
  		line-height: 50px;
  		margin: 3em auto;
  		text-align: center;
  		color: #FFF;
  		font-size: 16px;
  		/*font-weight: bold;*/
  		text-transform: uppercase;
  		text-decoration: none;
  		background: #666666;
  		position: relative;
  		top:0%;
  		left:25%;
 	}
	
	@media only screen and (min-width: 1170px) {
  	.cd-popup-trigger {
    	margin: 6em auto;
  	}}


/* --------------------------------

-------------------------------- */
/*暗幕*/
	.cd-popup {
  		position: fixed;
  		left: 0;
  		top: 0;
  		height: 100%;
  		width: 100%;
  		background-color: rgba(94, 110, 141, 0.9);
  		opacity: 0;
  		visibility: hidden;
  		transition: opacity 0.3s 0s, visibility 0s 0.3s;
	}

/*點了之後看得到*/
	.cd-popup.is-visible {
  		opacity: 1;
  		visibility: visible;
  		transition: opacity 0.3s 0s, visibility 0s 0s;
	}

/*光箱出來的樣式*/
	.cd-popup-container {
  		position: relative;
  		top:40%;
  		height: 20%;
  		max-width: 50%;
  		margin: 4em auto;
  		background: #FFF;
  		border-radius: .25em .25em .4em .4em;
  		text-align: center;
  		box-shadow: 0 0 20px rgba(0, 0, 0, 0.2);
  		transform: translateY(-40px);
  		transition-property: transform;
  		transition-duration: 0.3s;
	}

	.cd-popup-container p {
  		font-size: 16px;
  		color:#666666;
  		padding: 3em 1em;
	}

	.cd-popup-container .cd-buttons:after {
  		content: "";
  		display: table;
  		clear: both;
	}

	.cd-popup-container .cd-buttons li {
  		float: left;
  		width: 50%;
	}

	.cd-popup-container .cd-buttons a {
 		display: block;
  		height: 60px;
  		line-height: 60px;
  		text-decoration: none;
  		text-transform: uppercase;
  		color: #FFF;
  		font-size: 16px;
  		transition: background-color 0.2s;
	}

	.cd-popup-container .cd-buttons li:first-child a {
  		background-color:  #ddd ;
  		color:#666666;
  		border-radius: 0 0 0 .25em;
	}


	.no-touch .cd-popup-container .cd-buttons li:first-child a:hover {
  		background-color: #666666;
  		color:#ddd;
	}

	.cd-popup-container .cd-buttons li:last-child a {
  		background-color:  #ddd ;
  		color:#666666;
  		border-radius: 0 0 .25em 0;
	}

	.no-touch .cd-popup-container .cd-buttons li:last-child a:hover {
  		background-color: #666666;
  		color:#ddd;
	}

	.cd-popup-container .cd-popup-close {
  		position: absolute;
  		top: 8px;
  		right: 8px;
  		width: 30px;
  		height: 30px;
	}

	.cd-popup-container .cd-popup-close::before, .cd-popup-container .cd-popup-close::after {
 	 	content: '';
  		position: absolute;
  		top: 12px;
  		width: 14px;
  		height: 3px;
  		background-color: #8f9cb5;
	}

	.cd-popup-container .cd-popup-close::before {
  		transform: rotate(45deg);
  		left: 8px;
	}

	.cd-popup-container .cd-popup-close::after {
  		transform: rotate(-45deg);
  		right: 8px;
	}

	.is-visible .cd-popup-container {
  		transform: translateY(0);
	}

	/*購買完成頁面*/
	.sign8{
		width:  100%;
		height:370px;
		background-image: url(../images/shoppingcart/signframe8.png);
		background-repeat: no-repeat; 
		background-size: 50% 100%; 
		position: relative;
	 	top:18%;
	 	left:30%;
	}






	
/*==========平板版本==========*/

@media screen and (max-width: 1080px) {/*IPAD尺寸*/

	.con{ /*給底下的按鈕區塊*/
 		padding: 0 0 80px 0 ; 
	}
	
	/*進度bar*/
	.cart_navbar ul li .light_text p{
		font-size: 14px;
		top: 40%;
	}
		/*第一項有兩行*/
		.cart_navbar ul li .light_text p.doubleline{
			top: 35%;
		}

	
	/*小樹圖示區塊*/
	.cart_navbar ul li .light_image{
		height: 50px;
		top:33%;
	}


	.oneproduct_02 {
	    width: 78%;
	    text-align: right;
	}

	.oneproduct_02 div.p2 div{
		width: 70%;
	}

	.oneproduct_03 div.p8 {
		width: 21%;
	}



	/*備註部分*/
	.warning3{
		height: 100px;
	}

	.warning3 p{
		top: 0;
	}

	.btn-keepgoingshop, .btn-nextstep{
		width:18%;
		height: 28px;
	}
		.btn-nextstep{
			right: 21%;
		}

	.btn-keepgoingshop a, .btn-nextstep a{ /*要撐滿div感應區才會一樣大*/
		font-size: 16px;
		line-height: 28px; /*垂直置中*/
	}




    /*填寫店配頁面*/
	.box-fill1 {
    	width: 21%;
	}

	.choosestore {
    	width: 43%;
    }
	
	.textarea1 .fillarea1 .edit-group1 input{
		border:1px solid #eee;
	}

	.rechoose {
    	width: 27%;
    }

    /*光箱*/
    .cd-popup-container {
    	height: 23%;
    }

    /*購買完畢頁面*/
    .sign8 {
	    width: 85%;
	    height: 370px;
	    top: 30px;
	    left: 29%;
	    background-size: 55% 90%;
	}




	
}

/*____________________________________________________________________________*/

/*==========手機版本==========*/

@media screen and (max-width: 768px) {

	.con{
		min-height: 490px;
		overflow: hidden;

 		padding: 0 0 0px 0 ; 	
	}

	/*進度navbar*/
	div.cart_navbar{
		height: 55px;
		width: 110%;
		left: -5%;

		margin: 0 0 70px 0;  /*隔開下面的產品*/
	}

	/*圖示及文字的共同設定*/
	.cart_navbar ul li div{
		width: 100%;
	}

	/*小樹圖示區塊*/
	.cart_navbar ul li .light_image{
		height: 70%;
		top:30%;
	}

	/*文字區塊*/
	.cart_navbar ul li .light_text{
		height: 100%;
		width: 74%;
		left: 13%;

		top: 10px;
	}

	.cart_navbar ul li .light_text p{
		font-size: 12px;
		line-height: 16px;		/*垂直置中，設與高度相同*/
	}
		/*第一項有兩行*/
		.cart_navbar ul li .light_text p.doubleline{
			line-height: 16px;
		}

	/*進度線-全長*/
	.cart_navbar ul:after , .cart_navbar li:after{
		width: 100%;
		margin: auto;
		left: 0;
		right: 0;

		top: 100%;
	}





/*清單選項*/
	.list{
		height: 210px;
	}
	/*上面這塊寬度開100%，裡面開inlineblock排列*/
	.oneproduct_top{
		position: relative;
		width: 100%;
		height: 75%;
	}
		.oneproduct_01{
			width: 25%;
		}
		.oneproduct_02{
			width: 70%;
			text-align: left;
		}

	.oneproduct_03{
		width: 100%;
		height: 25%;
	}

	.oneproduct_top:after{ /*上下區塊用一條細線稍微分開*/
		content: "";
		position: absolute;
		width: 100%;
		height: 1px;
		background-color: #ddd; 
		right: 0;
		bottom: 10px;
	}
	
	.p1{
		padding: 0;
	}

	/*圖片*/
	.oneproduct_01 div.p1{
		width: 100%;
		height: auto;

		padding:15px 0 8px 0;
		-webkit-box-sizing: border-box;
		-moz-box-sizing: border-box;
		box-sizing: border-box;
	}

	/*商品名稱四個字*/
	.oneproduct_02 div.p2{
		position: relative;
		display: block;
		width: 40%;
		height: auto;

		padding:20px 0 10px 0;
		text-align: right;
	}

	/*貓頭鷹*/
	.oneproduct_02 div.p2 div{
		position: absolute;
		height: auto;
		width: 150%;
		left: 120%;
		top: 0px;
		text-align: left;
		padding:20px 0 0 0; 
	}


	/*規格*/
	.oneproduct_02 div.p6{
		position: relative;
		display: block;
		width: 40%;
		height: auto;

		padding:20px 0 0 0;
		text-align: right;
	}

	/*iphone*/
	.oneproduct_02 div.p6 div{
		position: absolute;
		height: auto;
		width: 150%;
		left: 120%;
		top: 0px;
		text-align: left;
		padding:20px 0 0 0; 
	}

	/*材質的外層*/
	.oneproduct_02 div.wood{
		width: 100%;
		height: auto;
		padding:0; 
	}

	/*材質*/
	.oneproduct_02 div.p7{
		position: relative;
		display: block;
		width: 40%;
		height: auto;

		padding:30px 0 0 0;
		text-align: right;
	}
	
	.oneproduct_02 div.wood div.sel{
		position: absolute;
		height: auto;
		width: 150%;
		left: 120%;
		top: 0px;
		text-align: left;
		padding:25px 0 0 0; 
	}

	/*材質的下拉式選單*/
	.oneproduct_02 div.wood select.sel{
		top: 0;
	}

	/*數量的外層*/
	.oneproduct_03 div.qty{
		width:20%;
		padding: 0px 0 0 0;
	}

	/*數量*/
	.oneproduct_03 div.p3{
		width:100%;
		height: 100%;
	}
	
	/*數量的下拉式選單*/
	.oneproduct_03 div.qty select.sel1{
		position: absolute;
		top: 15px;
		height: 20px;
	}


	/*單價*/
	.oneproduct_03 div.p4{
		width:25%;
		padding: 0px 0 0 0;
	}

	/*1000*/
	.oneproduct_03 div.p4 div{
		top: 20px;
	}


	/*折扣*/
	.oneproduct_03 div.p5{
		width:25%;
		padding: 0px 0 0 0;
	}

	/*200*/
	.oneproduct_03 div.p5 div{
		top: 20px;
	}

	/*小計金額*/
	.oneproduct_03 div.p8{
		width:25%;
		padding: 0px 0 0 0;
	}

	/*1200*/
	.oneproduct_03 div.p8 div{
		top: 20px;

		color:rgba(219,77,77,0.8);
		font-weight: bold;
	}



	/*備註部分*/
	.warning3{
		height: 200px;
		top: 50px;
	}

	.warning3 p{
		top: 0;
		font-size: 12px;
	}

	.btn-keepgoingshop, .btn-nextstep{
		width:33%;
		height: 28px;
		bottom: 70px;

		margin: auto;
		left: 0;
		right: 0;
	}
		.btn-keepgoingshop{
			left: 40%;
		}
		.btn-nextstep{
			right: 40%;
		}

	.btn-keepgoingshop a, .btn-nextstep a{ /*要撐滿div感應區才會一樣大*/
		font-size: 14px;
		line-height: 28px; /*垂直置中*/
	}

	





	/*訂購完成頁面*/
	.sign8 {
	    width: 85%;
	    height: 370px;
	    top: 50px;
	    left: 8%;
	    background-size: 100% 65%;
	}



}




