@charset "utf-8";
/* CSS Document */

@import url(http://fonts.googleapis.com/earlyaccess/cwtexfangsong.css);
@import url(http://fonts.googleapis.com/earlyaccess/cwtexyen.css);
@import url(https://fonts.googleapis.com/css?family=IM+Fell+English+SC" rel="stylesheet);

footer{
	position: relative;
	padding: 12px 10px;
}

footer{
	font-family: sans-serif,  微軟正黑體, 黑體; 
    letter-spacing: 1px;
}

footer .footer_content{
	position: relative;
	margin: auto;
	left: 0;
	right: 0;
	top: 10%;

	width: 92%;
	height: 100%;

	font-size: 0;
}

footer .footer_content div{
	position: relative;

	vertical-align: top;
	width: 20%;
	height: 100%;
	display: inline-block;

	font-size: 16px;
	line-height: 24px;
	color:rgba(103,147,137,1);
}
	footer .footer_content div.service{
		width: 40%;
	}

footer .footer_content div a,footer .footer_content div.service span{
	display: block;
	text-decoration: none;

	color: #888;
	font-size: 14px;
	font-family: 'IM Fell English SC','cwTeXYen', sans-serif;
}


footer .footer_content div .footer_copyright{
	position: absolute;
	bottom: 0px;
	right: 0;

	width: 100%;
	height: 40px;

	text-align: right;
	color: #666;
	font-size: 14px;
	font-family: 'IM Fell English SC','cwTeXYen', sans-serif;
}



}


/*____________________________________________________________________________*/

/*==========平板版本==========*/

@media screen and (max-width: 1250px) {


}



/*____________________________________________________________________________*/

/*==========手機版本==========*/

@media screen and (max-width: 768px) {
		
	footer{
			padding: 12px 10px;
		}

	footer p{
		font-size: 12px;
		line-height: 16px;

		text-align: right;

	    letter-spacing: 2px;
		}

} /*手機版本結束*/







